/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}
/* 
body{
  background-color: #000033;
} */
:root {
    --background: rgb(71, 71, 71);
    --gray: #2c2c2c;
    --glow-violet: #1a1a1a;
    --glow-object-grad: #ffd000;
    --glow-violet-c: #801fff;
    --text: #ffffff;

}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--glow-violet);
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.bx-menu{
    color: rgb(255, 255, 255) !important;
  }


.logo-image {
  margin: 10px 0 0 8px;
  width: 60px; /* Ajusta epxl tamaño según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */

}

.logo-academy {
  margin: 10px 0 0 0;
  width: 60px; /* Ajusta epxl tamaño según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */

}

.selection{
  color: #801fff !important; 
  border-left: 5px solid #801fff;
}

.span-selection{
    color: #801fff !important; 
    font-weight: 600 !important;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: var(--gray);
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--glow-violet-c);;
  padding: 15px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: var(--glow-violet-c);
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  background: var(--glow-violet);
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {

  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  background-color: var(--glow-violet);
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}

h1{
    font-size: 30px;
    color: #ffffff;

}
.floating-button {
    position: fixed;
    bottom: 40px; /* Distancia desde el fondo */
    right: 40px; /* Distancia desde la derecha */
    width: 70px; /* Ancho del botón */
    height: 70px; /* Altura del botón */
    background-color: var(--glow-violet-c); /* Color de fondo (verde) */
    color: white; /* Color del ícono */
    border-radius: 50%; /* Hacer el botón circular */
    display: flex; /* Usar flexbox para centrar el ícono */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); /* Sombra del botón */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición para el color de fondo */
}

.floating-button:hover {
    background-color: #6f00ff; /* Color de fondo al pasar el mouse */
}

.floating-button i {
    font-size: 24px; /* Tamaño del ícono */
}

.encabezado{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-inline {

  margin-right: 2%;
  width: 25%;
  position: relative;
  display: flex;
}
.search-inline--input {
  width: 100%;
  padding: 10px 10px 10px 45px;
  border: 1px solid #ffffff;
  border-radius:10px;
  outline: none;
  color: #ffffff;
  font-size:15px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 22 22' %3E%3Cpath d='M14.92 14.07l6.04 6.04c.23.24.23.62 0 .86-.24.23-.62.23-.85 0l-6.03-6.04C12.57 16.22 10.63 17 8.5 17 3.8 17 0 13.2 0 8.5S3.8 0 8.5 0 17 3.8 17 8.5c0 2.13-.78 4.08-2.08 5.57zM8.5 16c4.14 0 7.5-3.36 7.5-7.5C16 4.36 12.64 1 8.5 1 4.36 1 1 4.36 1 8.5 1 12.64 4.36 16 8.5 16z' fill='white' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 1.675em;
}


.principal {
    border-radius: 20px 0 0 0;
    background-color: var(--gray);
    padding: 2%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.table-container {
  max-height: 70vh; 
  width: 100%; 
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.8); 
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  position: relative;

}

td{
    text-align: left; /* Alinear texto a la izquierda */
}

th {
  text-align: center; /* Alinear texto a la izquierda */
  background-color: var(--glow-violet-c); /* Color de fondo para el encabezado */
  color: white; /* Color del texto del encabezado */
}

th, td {
  padding: 8px; /* Espaciado interno */

}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Color de fondo para filas pares */
}

tr:hover {
  background-color: #e7e7e7; /* Color de fondo al pasar el mouse sobre una fila */
}

.action-icon {
    color: var(--glow-violet-c); /* Color del ícono */
    font-size: 20px; /* Tamaño del ícono */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Transición para el color */
}

.action-icon:hover {
    color: #fa1900; /* Color al pasar el mouse (rojo para eliminar) */
}

.action-icon:first-child:hover {
    color: #3498db; /* Color al pasar el mouse (azul para editar) */
}

/* Estilos del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1000; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgb(0,0,0); /* Color de fondo negro */
    background-color: rgba(0,0,0,0.7); /* Fondo negro con opacidad */
}

.modal-content {
    border-radius: 2%;
    background-color: #fefefe;
    margin: 8% auto; 
    padding: 30px;
    border: 1px solid #a8a8a8;
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo */
    max-height: 600px; /* Ancho máximo */
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fa1900;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

select {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s; /* Agrega una transición suave */
  appearance: none; /* Elimina el estilo predeterminado del navegador */
  background-color: white; /* Asegúrate de que el fondo sea blanco */
}

select:hover {
  border: 1px solid var(--glow-violet-c); /* Cambia el color del borde al pasar el mouse */
  outline: none; /* Elimina el contorno predeterminado */
}

select:focus {
  border: 1px solid var(--glow-violet-c); /* Cambia el color del borde al tener el foco */
  outline: none; /* Elimina el contorno predeterminado */
}

input {
    padding: 10px;
    margin-top: 5px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus{
    border: 1px solid var(--glow-violet-c);
    outline: none; 
}

button {
    padding: 15px;
    background-color: var(--glow-violet-c); /* Color verde */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #6f00ff; /* Color más oscuro al pasar el mouse */
}

.icons{
  display: flex;
  gap: 5px;
}



@media (max-width: 1100px) {

  .logo-image {
    margin: 15px 0 0 5px;
    width: 60px;
  
  }
    .principal{
        padding: 3%;
    }

    table{
        font-size: 10px;
    }

    th, td {
        padding: 2px; /* Espaciado interno */
    }

    .floating-button {
        width: 50px; /* Ancho del botón */
        height: 50px; /* Altura del botón */

    }

    .bx{
      font-size: 15px;
    }

    .action-icon {
      font-size: 10px; /* Tamaño del ícono */
    }

    h1{
      font-size: 15px;
    }

    .search-inline {
      margin-right: 3%;
      width: 40%;
    }

    .search-inline--input {
      width: 100%;
      padding: 5px 5px 5px 35px;
      font-size: 10px;

    }


    .modal-content {
      margin: 20% auto; 
      width: 80%; /* Ancho del modal */
      max-width: 400px; /* Ancho máximo */
      max-height: 500px; /* Ancho máximo */

    }
    

}



@media (max-width: 700px) {
    
    .sidebar.close {
        left: -100px; /* Ocultar el menú en móviles */
    }

    .sidebar {
        transition: left 0.2s ease;
    }

    .home-section {
        transition: all 0.5s ease;
        margin-left: 0; 
    }
    
    .sidebar.close ~ .home-section{
        left: 0;
        width:100%;
    }
    

    .sidebar.close ~ .home-section .principal {
      border-radius: 0 0 0 0;
    }

    table{
        font-size: 8px;
    }

    th, td {
        padding: 2px; /* Espaciado interno */
    }

}


@media (max-width: 450px) {

    .sidebar.close .nav-links li .sub-menu {
      display: none;
    }

      table{
        font-size: 10px;
    }

    th, td {
        padding: 5px; /* Espaciado interno */
    }

      .action-icon {
        font-size: 2px; /* Tamaño del ícono */
    }
      
    .icons{
      display: flex;
      gap: 1px;
    }

    .search-inline {

      width: 50%;
    }




}
